
.clock_outer {
  margin: auto;
  text-align: center;
}

.clock {
  display: inline-block;
}

.hand_back {

  cursor: pointer;

  width: 40px;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  
  border-radius: 50%;

  float: left;
  margin: 5px;

}

.clock .colin {
  float: left;
  font-size: 3em;
  line-height: 1.2em;
}

.hand {

  width: 25px;
  height: 25px;
  border: 8px solid;
  
  border-radius: 50%;

  transition: all 1.0s linear;
  -webkit-transition: all 1.0s linear;
  -moz-transition: all 1.0s linear;

}

.hand.h,.hand.m,.hand.s {
  border-top: 8px solid $3;
}
