
@font-face {
    font-family: 'Neutraface2DisplayBold';
    src: url('/fnt/neutra2display-bold-webfont.eot');
    src: url('/fnt/neutra2display-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2display-bold-webfont.woff') format('woff'),
         url('/fnt/neutra2display-bold-webfont.ttf') format('truetype'),
         url('/fnt/neutra2display-bold-webfont.svg#Neutraface2DisplayBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2DisplayInline';
    src: url('/fnt/neutra2display-inline-webfont.eot');
    src: url('/fnt/neutra2display-inline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2display-inline-webfont.woff') format('woff'),
         url('/fnt/neutra2display-inline-webfont.ttf') format('truetype'),
         url('/fnt/neutra2display-inline-webfont.svg#Neutraface2DisplayInline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2DisplayLight';
    src: url('/fnt/neutra2display-light-webfont.eot');
    src: url('/fnt/neutra2display-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2display-light-webfont.woff') format('woff'),
         url('/fnt/neutra2display-light-webfont.ttf') format('truetype'),
         url('/fnt/neutra2display-light-webfont.svg#Neutraface2DisplayLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Neutraface2DisplayThin';
    src: url('/fnt/neutra2display-thin-webfont.eot');
    src: url('/fnt/neutra2display-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2display-thin-webfont.woff') format('woff'),
         url('/fnt/neutra2display-thin-webfont.ttf') format('truetype'),
         url('/fnt/neutra2display-thin-webfont.svg#Neutraface2DisplayThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2DisplayTitling';
    src: url('/fnt/neutra2display-titling-webfont.eot');
    src: url('/fnt/neutra2display-titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2display-titling-webfont.woff') format('woff'),
         url('/fnt/neutra2display-titling-webfont.ttf') format('truetype'),
         url('/fnt/neutra2display-titling-webfont.svg#Neutraface2DisplayTitling') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2DisplayMedium';
    src: url('/fnt/neutra2display-medium-webfont.eot');
    src: url('/fnt/neutra2display-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2display-medium-webfont.woff') format('woff'),
         url('/fnt/neutra2display-medium-webfont.ttf') format('truetype'),
         url('/fnt/neutra2display-medium-webfont.svg#Neutraface2DisplayMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Neutraface2TextBoldItalic';
    src: url('/fnt/neutra2text-bolditalic-webfont.eot');
    src: url('/fnt/neutra2text-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2text-bolditalic-webfont.woff') format('woff'),
         url('/fnt/neutra2text-bolditalic-webfont.ttf') format('truetype'),
         url('/fnt/neutra2text-bolditalic-webfont.svg#Neutraface2TextBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2TextBook';
    src: url('/fnt/neutra2text-book-webfont.eot');
    src: url('/fnt/neutra2text-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2text-book-webfont.woff') format('woff'),
         url('/fnt/neutra2text-book-webfont.ttf') format('truetype'),
         url('/fnt/neutra2text-book-webfont.svg#Neutraface2TextBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2TextBold';
    src: url('/fnt/neutra2text-bold-webfont.eot');
    src: url('/fnt/neutra2text-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2text-bold-webfont.woff') format('woff'),
         url('/fnt/neutra2text-bold-webfont.ttf') format('truetype'),
         url('/fnt/neutra2text-bold-webfont.svg#Neutraface2TextBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Neutraface2TextDemi';
    src: url('/fnt/neutra2text-demi-webfont.eot');
    src: url('/fnt/neutra2text-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2text-demi-webfont.woff') format('woff'),
         url('/fnt/neutra2text-demi-webfont.ttf') format('truetype'),
         url('/fnt/neutra2text-demi-webfont.svg#Neutraface2TextDemi') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2TextDemiItalic';
    src: url('/fnt/neutra2text-demiitalic-webfont.eot');
    src: url('/fnt/neutra2text-demiitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2text-demiitalic-webfont.woff') format('woff'),
         url('/fnt/neutra2text-demiitalic-webfont.ttf') format('truetype'),
         url('/fnt/neutra2text-demiitalic-webfont.svg#Neutraface2TextDemiItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2TextBookItalic';
    src: url('/fnt/neutra2text-bookitalic-webfont.eot');
    src: url('/fnt/neutra2text-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2text-bookitalic-webfont.woff') format('woff'),
         url('/fnt/neutra2text-bookitalic-webfont.ttf') format('truetype'),
         url('/fnt/neutra2text-bookitalic-webfont.svg#Neutraface2TextBookItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neutraface2TextLight';
    src: url('/fnt/neutra2text-light-webfont.eot');
    src: url('/fnt/neutra2text-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fnt/neutra2text-light-webfont.woff') format('woff'),
         url('/fnt/neutra2text-light-webfont.ttf') format('truetype'),
         url('/fnt/neutra2text-light-webfont.svg#Neutraface2TextLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'LucidaConsoleRegular';
  src: url('/fnt/lucon-webfont.eot');
  src: url('/fnt/lucon-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fnt/lucon-webfont.woff') format('woff'),
  url('/fnt/lucon-webfont.ttf') format('truetype'),
  url('/fnt/lucon-webfont.svg#LucidaConsoleRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
