
body {
  font-family: 'Neutraface2TextBook';
  font-size: 1em;
  background-color: $2;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.outer_capsule {
  padding: 10px;
  height: 100%;
}

.inner_capsule {
  margin: 0 10px;
}

.name {
  font-size: 4em;
}

.corner {
  width: 0px;
  height: 0px;
  font-size: 0;
  line-height: 0;
}

.corner.right {
  float: right;
  border-right: 10px solid transparent;
  border-top: 10px solid;
}

.corner.left {

  float: left;
  border-left: 10px solid transparent;
  border-top: 10px solid;
}

.name .stitch {
  border-top: 2px dashed;
  border-bottom: 2px dashed;
  padding: 10px 40px;
  margin: 5px;
}

.code_view {
  opacity: 0;
  cursor: pointer;

  background: url('/img/zoom.png');
  width: 24px;
  height: 24px;

  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}

.code_view_theme {
  float: left;
  margin: 10px 0px 0 10px;
  background: url('/img/zoom.png') -24px;
}
.code_view_clock { 
  display: inline-block;
  margin-top: 35px; 
}

.code {
  display: none;
  position: absolute;
  top: 100px;
  left: 20%;

  width: 90%;
  height: 70%;
  overflow-y: scroll;


  padding: 10px;
  background-color: #333;
  color: #eee;
  font-family: 'LucidaConsoleRegular';
  font-size: 1.0em;
}

.code h2 {
  text-align: center;
}
.code h3 {
  border-bottom: 1px solid #fff;
  padding: 0 0 5px 10px;
}

.contact {
  float: right;
  padding: 10px 20px;
  text-align: right;
}

.contact .email {
  cursor: pointer;
}
.contact .email input {
  width: 100px;
}

.header {
  padding: 10px 10px 10px 40px;
  text-align: left;
  border-bottom: 2px solid;
  font-size: 2.5em;
}

.section_outer {
  margin: auto;
  text-align: center;
}

.section {
  margin: 20px;
  display: inline-block;
  overflow: hidden;
}

.work .item {
  display: inline-block;
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin: 10px 20px;
  overflow: hidden;
  border-radius: 100px;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.work .item:hover {

  border-radius: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;

}

.work .item .bg {
  width: 200px;
  height: 200px;
  transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

.work .item .bg:hover {
  transition: background 2.0s ease-out 0.2s;
  -webkit-transition: background 2.0s ease-out 0.2s;
  -moz-transition: background 2.0s ease-out 0.2s;
}

.work .item_gj .bg { background: url('/img/work_gj_bg_o20.png'); }
.work .item_gj .bg:hover { background: url('/img/work_gj_bg.png') -100px; }

.work .item_studio .bg { background: url('/img/work_studio_bg_o20.png'); }
.work .item_studio .bg:hover { background: url('/img/work_studio_bg.png') -100px; }

.work .item_coke .bg { background: url('/img/work_coke_bg_o20.png'); }
.work .item_coke .bg:hover { background: url('/img/work_coke_bg.png') -100px; }

.work .item_cards .bg { background: url('/img/work_cards_bg_o20.png'); }
.work .item_cards .bg:hover { background: url('/img/work_cards_bg.png') -100px; }

.work .item_dolby .bg { background: url('/img/work_dolby_bg_o20.png'); }
.work .item_dolby .bg:hover { background: url('/img/work_dolby_bg.png') -100px; }

.work .item_game .bg { background: url('/img/work_game_bg_o20.png'); }
.work .item_game .bg:hover { background: url('/img/work_game_bg.png') -100px; }

.work .item_multi .bg { background: url('/img/work_multi_bg_o20.png'); }
.work .item_multi .bg:hover { background: url('/img/work_multi_bg.png') -100px; }

.work .item .title {
  text-align: center;
  font-size: 1.8em;
  margin-top: 60px;
  padding: 10px 2px;

  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.work .item:hover .title {

  margin-top: 0px;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;

}

.work .item .detail {

  text-align: center;
  font-size: 1em;
  margin-top: 100px;
  padding: 10px 10px 20px 10px;

  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;

}

.work .item:hover .detail {
  margin-top: 40px;
  padding: 10px 10px 20px 10px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}


.section.knowledge .item {
  float: left;
  width: 300px;
  height: 100px;
  cursor: pointer;

  margin: 10px 30px;
  overflow: hidden;


  transition: all 0.2s ease-in 0.2s;
  -moz-transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;

}

.section.knowledge .item:hover {

  transform:scale(1.2);
  -moz-transform:scale(1.2);
  -webkit-transform:scale(1.2);

  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}


.section.knowledge .item .bg {
  width: 300px;
  height: 100px;
  transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
}

.section.knowledge .item .bg:hover {
  transition: background 2.0s ease-out 0.2s;
  -webkit-transition: background 2.0s ease-out 0.2s;
  -moz-transition: background 2.0s ease-out 0.2s;
}

.section.knowledge .frontend .bg { background: url('/img/knowledge_frontend_bg_o20.png'); }
.section.knowledge .frontend .bg:hover { background: url('/img/knowledge_frontend_bg.png') -100px; }
.section.knowledge .backend .bg { background: url('/img/knowledge_backend_bg_o20.png'); }
.section.knowledge .backend .bg:hover { background: url('/img/knowledge_backend_bg.png') -100px; }
.section.knowledge .ops .bg { background: url('/img/knowledge_ops_bg_o20.png'); }
.section.knowledge .ops .bg:hover { background: url('/img/knowledge_ops_bg.png') -100px; }

.section.knowledge .item .title {
  font-size: 2em;
  line-height: 100px;
  text-align: center;

  transition: all 0.2s ease-in 0.2s;
  -moz-transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
}

.section.knowledge .item:hover .title {

  font-size: 4.2em;
  line-height: 1.1em;

  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}



.section.knowledge .item .detail {

  text-align: center;
  margin-left: 300px;
  white-space: nowrap;
  padding: 5px;

  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.section.knowledge .item:hover .detail {
  margin-left: 0px;
  transition: all 0.2s ease-in 0.2s;
  -moz-transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
}

.overlay {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.9);
}

.modal {
  display: none;
  position: absolute;
  top: 100px;
  left: 20%;
  width: 800px;
  overflow: hidden;
}

.modal.item .title {
  padding: 10px 40px;
}

.modal.item .title label {
  font-size: 2em;
}

.modal.item .companys {
  float: right;
  font-size: 1.0em;
  line-height: 3em;
}

.modal.item .companys a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.modal.item .description {
  font-size: 1.5em;
  padding: 10px 40px 30px 40px;
  border-bottom: 1px solid;
  margin: 0px 0px 40px 0px;
}

.modal.item .tech {
  font-family: 'LucidaConsoleRegular';
  font-size: 1em;
  margin: 20px;
  text-align: center;
}

.modal.item .tech div, .modal.knowledge .tech div {
  padding: 5px 10px; 
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}

.modal.item .gallery {
  margin: 10px 20px;
  text-align: center;
}

.modal.item .gallery div {
  cursor: pointer;
  display: inline-block;
  width: 160px;
  height: 150px;
  margin: 10px;
  overflow: hidden;
  border: 3px dashed;
  border-radius: 5px;
}

.modal.item .gallery div img {
  height: 400px;
  overflow: hidden;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.modal.item .gallery div:hover img {
  margin-left: -100px;

  transition: all 2.0s linear;
  -webkit-transition: all 2.0s linear;
  -moz-transition: all 2.0s linear;
}
 

.close {

  font-size: 2em;

  cursor: pointer;
  float: right;
  margin: 10px;
  text-align: center;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;

}

.close:hover {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.zoom {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 100px;
  left: 20%;
  overflow: hidden;
  padding: 10px 40px 40px 40px;
  text-align: center;
}

.preload {
  display: none;
}

.config {
  position: fixed;
  top: 20px;
  left: -210px;
  width: 260px;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.config:hover {
  left: -200px;
}

.config_open:hover .code_view {
  opacity: 1;
}

.config_open {
  left: 0px;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;

}

.config_open:hover {
  left: 0px;
}


.logo_config {
  float: right;
  cursor: pointer;
  padding: 5px;
}

.logo_config div {
  font-size: 0px;
  width: 20px;
  border: 2px solid;
  margin: 5px;
}

.config_theme {
  width: 200px;
  margin: 6px 0 0 0;
}

.config_theme .theme {
  float: right;
  margin: 2px;
  padding: 2px;
}

.config_theme .theme_active {
  border: 1px solid #fff;
}

.config_theme .color {
  float: left;
  height: 20px;
  width: 6px;
}

.modal.knowledge .title label {
  font-size: 4em;
}

.modal.knowledge .tech {
  position: relative;
  height: 80px;
}

.modal.knowledge .tech label {
  position: absolute;
  top: 0;
  left: 80px;
  line-height: 96px;
  font-size: 8em;
  font-weight: bold;
  font-family: 'Neutraface2DisplayBold';
  opacity: 0.8;
  z-index: 1;
}

.modal.knowledge .tech div {
  position: relative;
  z-index: 2;
}

.modal.knowledge .footer {
  height: 40px;
}
