
.outer_capsule { background-color: $5; }
.inner_capsule { background-color: $1; }

.config { background-color: $4; }
.logo_config div { border-color: $5 }

/* clock */

.clock .colin { color: $1; }

.hand_back { background-color: $5; }
.hand { border-color: $5; }

.hand.h, .hand.m, .hand.s {
  color: $2;
  border-color: $5;
  border-top-color: $2;
}

.contact {
  color: $4;
  background-color: $1;
}

.name {
  background-color: $4;
  color: $2;
}

.name .stitch { border-color: $3; }
.corner.right, .corner.left { border-top-color: $4; }

.header {
  color: $3;
  border-bottom-color: $3;
}

.work .item .bg { background-color: $5; }

.work .item .title { color: $1; }

.work .item:hover .title {
  color: $3;
  background-color: rgba(!4, 0.95);
}

.work .item .detail {
  color: $1;
  background-color: rgba(!4, 0.85);
}

.knowledge .item { background-color: $1; }
.knowledge .frontend .bg { background-color: $1; }
.knowledge .item .title { color: $5; }
.knowledge .item:hover .title { background-color: rgba(!1, 0.8); }

.knowledge .item .detail {
  color: $1;
  background-color: rgba(!5, 0.8);
}

.modal { background-color: $1; }

.modal.item .title {
  color: $4;
  border-bottom: 1px solid $3;
}

.modal.item .companys { color: $4; }
.modal.item .companys a { 
  color: $3; 
  border-bottom-color: $3;
}

.modal.item .description { color: $4; }
.modal.item .description a { color: $3; }
.modal.item .description { border-bottom-color: $3; }

.modal.item .tech { color: $4; }
.modal.item .tech div { background-color: $5; }
.modal.item .gallery div { border-color: $5; }

.close {
  color: $3;
  border-color: $5;
  background-color: $1;
}

.close:hover {
  color: $3;
  background-color: $5;
}

.zoom { background-color: $4; }


